<% provide(:title, "About") %>
<h1>About</h1>
<p>
	The Members Only application is a Ruby on Rails project from 
	<a href="https://www.railstutorial.org">The Ruby on Rails Tutorial</a> ebook by Michael Hartl
</p>
