<footer class="footer">
  <small>
	  The Members Only application by <a href="http://github.com/emmanuelkamala">emmanuelkamala</a> and <a href="http://github.com/zibilyonik">zibilyonik</a>
	</small>
	<nav>
	  <ul>
		  <li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>